body {
  text-align: center;
  background-color:#c8bbec12;
}

h2{
  color: #726f6f;
  text-decoration: underline;
}

.profileImg {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0% 2%;
  border: 5px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-banner {
  background-color: #80808033;
  width: 55em;
  height: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-page{
  display: flex;
  flex-direction: column;
}

header{
  align-self: center;
  display: flex;
  flex-direction: column;
}

.user{
  margin-top: -8em;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.username{
  background-color: #c7c2c2;
  font-size: 2em;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

.body{
  margin: 2em 8em;
  display: flex;
  justify-content: flex-start;
}

.bio{
  width: 16em;
  display: flex;
  flex-direction: column;
}

.location{
  width: 10em;
  background-color: white;
  font-size: 1em;
  border: 1px solid grey;
  padding: 1em;
}

.user-blurb{
  width: 10em;
  background-color: white;
  border: 1px solid grey;
  padding: 1em;
  font-size: 1em;
}

.user-posts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3em;
}

.feed{
  width: 50em;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.post-block{
  background-color: white;
  padding: 5%;
  border: 1px solid gray;
  margin-bottom: 1em;
}

.post-by{
  font-weight: 500;
  text-transform: capitalize;
}

.post-date{
  font-size: smaller;
}

.post-caption{
  margin: 1em 0em;
}

.post-image{
  width: 25em;
  height: 25em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left;
}

nav{
  color: white;
  margin-bottom: 0.2em;
  background-color: #3d23e6;
  padding: 1.2em 5em;
  justify-content: space-between;
  display: flex;
}

.nav-links{
  display:flex;
}

.nav-buttons{
  text-decoration: none;
  color: white;
  margin: 0em 2em;
}

.nav-buttons:hover, .home-link:hover{
  text-transform: uppercase;
  text-decoration: underline;
}

.random-user{
  background-color: white;
  width: 20%;
  height: 20em;
  border: 1px solid grey;
}

.update-form{
  width: 36em;
  margin: 2.5em 0em 1em 0em;
  height: 10em;
  display:flex;
  border: 1px solid grey;
}

.update-text{
  border-left: 1px solid grey;
  display:flex;
  flex-direction: column;
}

.update-img{
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  display:flex;
  width: 12em;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.drop{
  opacity: 0.5;
}

.drop-cross{
  margin-top: -0.3em;
  font-size: 12em;
}

.drop-text{
  display: flex;
  align-items: center;
  height: 9em;
}

.update-blog{
  height: 8em;
  width: 25.6em;
  font-size: 1em;
}

.blog-button{
  border: 1px solid grey;
  height: 2em;
  font-size: 0.9em;
}

.rando-name:hover, .reg-button:hover, .blog-button:hover, .edit-buttons:hover, .home-button:hover{
  background-color: #4261e6c4
}

.edits{
  display: flex;
  justify-content: flex-end;
}

.edit-buttons{
  font-size: 0.8em;
  margin: 1em 1em 0em 0em;
  color: black;
  padding: 0.2em;
  border: 1px solid grey;
  text-decoration: none;
  background-color: lightgrey;
}

.useredit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em
}

.userblurbs{
  display: flex;
  margin-top: 1em;
}

.bio-form{
  width: 25em;
  display: flex;
  flex-direction: column;
}

.banner {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 46em;
  height: 17em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-drop{
  opacity: 0.5;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

.edit-image {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-right: 1em;
  border: 1px solid grey;
  width: 13em;
  height: 13em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.edit-location{
  font-size: 1.2em;
}

.edit-textbio{
  height: 5.5em;
  font-size: 1.2em;
  margin: 1em 0em;
}

.updatemodal-form{
  margin: 2em;
  width: 37em;
  height: 10em;
  display: flex;
  border: 1px solid grey;
}

.edit-posts{
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rando-top{
  padding: 1em;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rando-Img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  border: 3px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rando-name{
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: black;
  padding: 0.2em;
  border: 1px solid grey;
  text-decoration: none;
  background-color: lightgrey;
}

.rando-location{
  font-size: 1em;
}

.rando-bio{
  padding: 1em;
  border: 1px solid grey;
}

.logo{
  width: 8em;
  height: 2em;
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center
}

.cutie{
  height: 6em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.home-page{
  display:flex;
  justify-content: flex-end;
}

.home-login{
  align-items: center;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-greeting{
  width: 60vw;
  height: 100vh;
  justify-content: center;
  background-color: #3d23e6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo{
  margin-top:-2em;
  width: 30em;
  height: 7em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-tag{
  margin: 1em;
  font-size: 3em;
}

.home-input{
  margin: 0.2em 0em;
  font-size: 1.5em;
}

.home-header{
  margin: 0.2em 0em;
  color: grey;
  font-size: 1.7em;
}

.reg-button{
  border: 1px solid grey;
  background-color: white;
  width: 10em;
  margin: 0.7em 0em;
  height: 2em;
  font-size: 0.9em;
}

.home-button{
  border: 1px solid grey;
  background-color: lightgrey;
  width: 10em;
  margin: 0.7em 0em;
  height: 2em;
  font-size: 0.9em;
}

.home-link{
  text-decoration: none;
  margin: 0em 2em;
}

.register-main{
  height: 100vh;
  justify-content: center;
  background-color: #3d23e6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form{
  border-radius: 3%;
  padding: 1.8em 0em 0.8em 0em;
  background-color: lightgrey;
  align-items: center;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hey-logo{
  width: 37em;
  height: 7em;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.reg-input {
  height: 3em;
  width: 80%;
  margin: 0.6em 0em;
  font-size: 1em;
}

@media only screen and (max-width: 1030px) {
.bio{
  width: 13em;
}

.feed, .update-form{
  width: 25em;
}

.body{
  display: flex;
  margin: 2em 1em;
  justify-content: center;
}

.profile-banner {
  width: 35em;
}

.update-blog {
  width: 16.6em;
  }

.bio-form{
  width: 60%;
}

.home-logo {
    margin-top: -2em;
    width: 25em;
    height: 6em;
}

.home-tag {
    font-size: 2.5em;
}

.home-button, .home-input {
  border: 1px solid lightgrey;
}
/* .home-page{
  display: flex;
  flex-direction: column;
}

.home-greeting {
    width: 100vw;
    height: 50vh;
  }

  .home-login {
    background-color: #3d23e6;
    width: 100vw;
    height: 50vh;
}

.home-logo {
    margin-top: 2em;
    width: 17em;
    height: 4em;
    background-size: 100%;
  }

  .home-tag {
    margin: 0em;
    font-size: 2em;
} */

}

@media only screen and (max-width: 850px) {
  .hey-logo {
      width: 20em;
      height: 4em;
    }

    .register-form {
      width: 19em;
    }

    .reg-input {
    height: 1em;
  }

  .banner{
    width: 35em;
  }

}

@media only screen and (max-width: 570px) {

  .home-header {
    margin-top: -2em;
    color: grey;
    font-size: 1.5em;
}

  .home-page{
    display: flex;
    flex-direction: column;
  }

  .home-greeting {
      width: 100vw;
      height: 50vh;
    }

    .home-bottom{
      background-color: #3d23e6;
    }

    .home-login {
      width: 100vw;
      height: 50vh;
      background-color: white;
  }

  .home-logo {
      margin-top: 2em;
      width: 17em;
      height: 4em;
      background-size: 100%;
    }

    .home-tag {
      margin: 0em;
      font-size: 2em;
  }


  .body{
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
    justify-content: center;
    align-items: center;
  }

  .bio{
    width: 13em;
    margin-bottom: 1em;
  }

  .username {
    font-size: 1em;
  }

  .post-image {
    width: 15em;
    height: 15em;
  }

  .banner, .profile-banner {
    width: 20em;
    height: 10em;
}

.user-posts {
 margin: 1em 0em;
}

.feed{
  width: 20em;
}

.edit-image, .profileImg {
  width: 7em;
  height: 7em;
}

.user {
    margin-top: -3em;
  }

  .logo {
      width: 4em;
      height: 2em;
    }

    nav {
      padding: 1em 1em;
    }
  .nav-buttons {
    font-size: 0.7em;
    margin: 1em 1em;
  }

   .location, .user, p {
    word-break: break-all;
    font-size: 1em;
    }

    .update-form {
    width: 20em;
}

.update-blog {
    width: 13em;
}

  .bioform{
    width: 12em;
  }

.edit-textbio,  .edit-location {
    font-size: 0.7em;
}

.drop-text {
    height: 5em;
  }
}
